```sh
mvn org.apache.maven.plugins:maven-surefire-report-plugin:2.13:report-only -P${build_profile} -Daggregate=true
```